<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yuanin.fuliclub">

    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- Optional for location -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 调用安装包权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".loginRegister.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".loginRegister.LoginRegisterActivity"
            android:label="登录/注册"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginRegister.LoginActivity"
            android:label="登录/注册"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginRegister.BindPhoneActivity"
            android:label="绑定手机号"
            android:screenOrientation="portrait" />
        <activity
            android:name=".minePart.NickNameModifyActivity"
            android:label="修改用户昵称"
            android:screenOrientation="portrait" />
        <activity
            android:name=".minePart.BindingPhoneNumActivity"
            android:label="修改用户手机号"
            android:screenOrientation="portrait" />
        <activity
            android:name=".minePart.MyAccountActivity"
            android:label="我的账户"
            android:screenOrientation="portrait" /> <!-- 图片选择框架类 -->
        <activity
            android:name="com.wildma.pictureselector.PictureSelectActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /> <!-- 结束 -->
        <activity
            android:name=".minePart.AboutOursActivity"
            android:label="关于我们"
            android:screenOrientation="portrait" />
        <activity
            android:name=".minePart.OrderListActivity"
            android:label="我的订单"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".minePart.FeedBackActivity"
            android:label="意见反馈"
            android:screenOrientation="portrait" />
        <activity
            android:name=".minePart.OrderDetaailsActivity"
            android:label="订单详情"
            android:screenOrientation="portrait" />
        <activity
            android:name=".minePart.MyMessageActivity"
            android:label="消息"
            android:screenOrientation="portrait" />
        <activity
            android:name=".learnPart.OrderPayActivity"
            android:label="订单详情"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginRegister.SmsMessageVerActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginRegister.GraphValidataCodeActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".learnPart.CourseDetailsActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".learnPart.CourseKnobbleDetailsActivity"
            android:label="课程详情"
            android:screenOrientation="portrait" />
        <activity
            android:name=".coursePart.RookieCourseListActivity"
            android:label="小白入门"
            android:screenOrientation="portrait" />
        <activity
            android:name=".coursePart.AdvanceCourseListActivity"
            android:label="进阶课程"
            android:screenOrientation="portrait" />
    </application>

</manifest>